@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body{
	height: 100vh;
	background-color: #ffd6cc;
	background-image: linear-gradient(315deg,  #ffd6cc 0%, #ffd6cc 74%);
	color: #222222;
}

#home-content, #quiz-content{
	padding-top: 25px;
	padding-bottom: 30px;	
}


#navbar{
	background-color:  white;
	
}

.nav-item, .navbar-brand{
	color: #0D7ECF
}


.nav-item{
	font-size: 18px;
	margin-left: 25px;	
}

.nav-link:hover{
	border-style: none;
	border-color: #222222
	background-color: #ededed;
	border-radius: 42%;
}

.active{
	font-weight: 600;
}

#brain-div-container{
	width: 88%;
	margin: 0 auto;
}


#brain-div, #brain-info-div, #title-div{
	background-color: white;
}

#title-div{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid gray;
}

#home-title, #quiz-title{
	text-align: center;
	position: relative;
	top: 10px;
	font-size: 26px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}

#brain-div, #brain-info-div{
	padding: 20px;
	border: 1px solid gray;
	height: 590px;
}

#brain-div{
	float: left;
	width: 55%;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}

.brain-wrapper{
	margin: 0 auto;
}

#brain{
	width: 95%;
	display: block;
}

#brain-info-div{
	border-bottom-right-radius: 20px;
	float: right;
	width: 45%;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;	
}

.accordion{
	margin-top: 5px;
}

#selections{
	 height: 50px;
	 text-align: center;
	 margin-top: 10px;
	 font-size: 30px;
}

.card{
	width: 90%;
	margin: 0 auto;
}

 .card a{
 	cursor: pointer;
 	background-color: #F5F5F5;
 }

 .card-header p{
 	text-align: center;
 	color: #0D7ECF;
 	font-size: 20px;
 }

 #summary, #qOne, #qTwo, #qThree, #note{
 	padding: 20px;
 }

 #note{
 	position: absolute;
 	bottom: 0;
 	font-size: 14px;
 }

#learn-more{
	text-align: center
}


.quiz-div{
  padding-left: 35px;
  display: flex;
  align-items: center;
  position: relative;
 
}

.icon-div{
	position: absolute;
	left: 12px;
	top: 3px;
}

.fa-check{
	color: green;
}

.fa-times{
	color: red;
	padding-left: 2px;
}


.quiz-div label{
	position: relative;
	left: 5px;
	top: 3px;
}

#quiz-q1, #quiz-q2{
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
}

#quiz-q1{
	padding-top: 80px;
}

#button-div{

	margin-top: 70px;
}

#alert-div{
	position: absolute;
	width: 100%;
	height: 50px;
}

#submit{
	display: block;
	margin: 0 auto;
}

#score{
	text-align: center;
	font-size: 18px;
}

#faq-content, #about-content, #four04-content{
	padding: 25px 0;
}


.non-brain-content{
	width: 88%;
	margin: 0 auto;
	padding: 20px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 20px;

}

#faq-div-container h5{
	margin-top: 30px;
}

#four04-div-container{
	padding-top: 10px;
	text-align: center;
}

#four04-text{
    font-size: 150px;
   -webkit-text-stroke: 2px #ffd6cc;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#four04-p1{
	font-size: 20px;
}

#four04-p2{
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 100px;
}

.fa-arrow-up{
	padding: 10px;
	color: #0D7ECF;
}


@media only screen (max-width: 1400px) and (min-width: 1100px){

	#brain-div, #brain-info-div{
		height: 570px;
	}

}

@media (max-width: 1300px) and (min-width: 1100px) {

	
	#brain-div{
		padding-top: 50px;
	}


	#sumarry, .card-body, #qOne, #qTwo, #qThree, #summary{
		font-size: 14px;
	}
	
}


@media (max-width: 1200px) and (min-width: 1100px){

	#brain-div{
		padding-top: 80px;
	}

}

@media  (max-width: 1100px){

	#navbar{
		height: auto;
	}

	body{
		overflow-y: visible
	}

	#brain-div{
		float: none;
		width: 100%;
		height: 100%;	
	}


	#brain-info-div{
		float: none;
		width: 100%;
		
	}

	#brain-div{
	border-bottom-left-radius: 0;
	}

	#brain-info-div{
		border-bottom-left-radius: 20px;
		margin-bottom: 30px;
	}

	
}


@media (max-width: 700px){
	#sumarry, .card-body, #note, #qOne, #qTwo, #qThree, #summary{
		font-size: 14px;
	}



	#brain-info-div{
		height: 650px;
	}
}
