{% extends "layout.html" %}

{% block content %}

   <div id= "about-content" class="container-fluid">

	<div id="about-div-container" class="non-brain-content">
			About
	</div>
</div>

{% endblock %}

{% extends "layout.html" %}

{% block content %}

	<div id= "about-content" class="container-fluid">

<div id="about-div-container" class="non-brain-content">
	<h3>About the Contributers</h3>
	<p>&nbsp &nbsp This website was created my Craig Haber, a double major in psychology and computer science at Connecticut College, and Mikaela Marinis, a computer science major at the same school. All content was reviewed by the neuroscientist Dr. Joseph Schroeder for accuracy. In addition to Dr. Schroeder, a special thanks to Dr. Tarimo for his continuous guidance and educational technology expertise.</p>
	<p>&nbsp &nbsp You can contact Craig at chaber@conncoll.edu, Mikaela at mmarinis@conncoll.edu, or Dr. Schroeder at jasch@conncoll.edu.</p>
	<h5>References:</h6>
	<h5>BrainFacts. (n.d.). Retrieved from https://www.brainfacts.org/.</h6>
	<h5>Live Science. (n.d.). Retrieved from https://www.livescience.com/.</h6>
	<h5>Medical information and health advice you can trust. (n.d.). Retrieved from https://www.healthline.com/.</h6>
	<h5>Mayfield Brain & Spine, Neurosurgery, Spine surgeons, Brain surgeons , Cincinnati, Ohio. (n.d.). Retrieved from http://www.mayfieldclinic.com/.</h6>
	<h5>Cerebellum. (2019, November 13). Retrieved from https://www.wikipedia.org/.</h6>
	<h5>Ask A Biologist. (n.d.). Retrieved from http://askabiologist.asu.edu/.</h6>
	<h5>Johns Hopkins Medicine, based in Baltimore, Maryland. (2019, October 22). Retrieved from https://www.hopkinsmedicine.org/.</h6> 
	<h5>American Association of Neurological Surgeons. (n.d.). Retrieved from http://www.aans.org/.</h6>
        <h5>Northern Brain Injury Association: British Columbia. (n.d.). Retrieved from https://www.nbia.ca/.</h6>
	<h5>National Center for Biotechnology Information. (n.d.). Retrieved from https://www.ncbi.nlm.nih.gov/.</h6>
	<h5>Explore scientific, technical, and medical research on ScienceDirect. (n.d.). Retrieved from https://www.sciencedirect.com/.</h6>
	<h5>Brain Structure and Function. (n.d.). Retrieved from https://bouve.northeastern.edu/nutraumaticbraininjury/braintbi-anatomy/brain-functions/.</h6>
	<h5>Khan Academy. (n.d.). Retrieved from https://www.khanacademy.org/.</h6>
	<h5>National Institute on Drug Abuse. (n.d.). National Institute on Drug Abuse (NIDA). Retrieved from http://www.drugabuse.gov/.</h6>
	<h5>Neurosci. (2019, November 20). Neuroscientifically Challenged. Retrieved from https://www.neuroscientificallychallenged.com/.</h6>
	<h5>Hakala, C. (2012). Ap psychology. New York: Kaplan Pub.</h6>
	<h5>Your Brain and Nervous System. Hirsh, Larissa. Retrieved from https://kidshealth.org/.</h6>
	<h5>Understanding the brain: a brief history. (2019, January 30). Retrieved from https://qbi.uq.edu.au/brain/intelligent-machines/understanding-brain-brief-history.</h6>
	<h5>Mai Jürgen K., Majtanik, M., & Paxinos, G. (2016). Atlas of the human brain. Amsterdam: Academic Press, an imprint of Elsevier.</h6>
	<h5>SciELO Colombia- Scientific Electronic Library Online. (n.d.). Retrieved from http://www.scielo.org.co/.</h6>
	<h5>massa intermedia. (n.d.). Retrieved from https://medical-dictionary.thefreedictionary.com/massa intermedia.</h6>
	<h5>Neuroscience For Kids. (n.d.). Retrieved from https://faculty.washington.edu/chudler/functional.html.</h6>
	<h5>Austin. (2018, November 10). What is the difference between the pituitary gland and the pineal gland? Retrieved from https://brainstuff.org/blog/difference-between-pituitary-and-pineal-gland.</h6>
	<h5>Higher Cortical Functions: Association and Executive Processing (Section 4, Chapter 9) Neuroscience Online: An Electronic Textbook for the Neurosciences: Department of Neurobiology and Anatomy - The University of Texas Medical School at Houston. (n.d.). Retrieved from https://nba.uth.tmc.edu/neuroscience/m/s4/chapter09.html.</h6>
	<h5>STEPHEN M. KANNE, STANLEY FINGER, Konstantin M. Bykov and the Discovery of the Role of the Corpus Callosum, Journal of the History of Medicine and Allied Sciences, Volume 54, Issue 4, October 1999, Pages 572–590, https://doi.org/10.1093/jhmas/54.4.572</h6>
   </div>
		
</div>
	

{% endblock %}
