{% extends "layout.html" %}

{% block content %}

	<div id= "faq-content" class="container-fluid">

		<div id="faq-div-container" class="non-brain-content">
			<h3>Frequently Asked Questions</h3>
			<h5>Is Mapping the Brain intended for people new to learning brain anatomy, or for people who already have a background in it?</h5>
			<p>The goal of Mapping the Brain is to be an accessible tool for anyone to learn about the brain. It is desgined to allow people to learn at their own pace, whereby they can study as many or as few brain structures as they wish. The most important information about each region is bolded, and additional info can be found by clicking on the three buttons to the right of the brain map.</p>
			<h5>Why is a particular region not included in the brain map?</h6>
			<p>The image of the brain used on this site is a sagittal view of the brain. To understand the perspective, imagine that someone sliced through the brain starting from the top and then down the middle so that it split into two halves, and we are looking at one of those halves. This perspective allows us to see both cortical and subcortical structures. Even so, the sagittal does not encompass all of the structures of the brain. Additional structures can only be observed from other perspectives, such as the lateral view and the superior view. The sagittal view covers many of the important structures, but we encourage you to do more research on your own if you want to learn all of the structures of the brain.</p>
			<h5>What is the difference between gray matter and white matter?</h6>
			<p>Grey matter and white matter are both major components of the central nervous system. Grey matter consists of mostly the cell bodies of neurons. White matter consits of mostly myenlinated axons, which are axons of a neuron that covered in a protective myelin sheath. The brain mostly consists of grey matter on the surface and white matter on the inside. On the other hand, the spinal cord mostly consists of white matter on the outside and grey matter on the inside.</p>
			<h5>Why does the brain map not change size when I resize the browser window?</h5>
			<p>Unfortunately this is inevitable due to the nature of ImageMapster, the tool we used to contruct the brain map. If you need to change the size of the browser window, then please refresh the page for the brain map to be a proper size.</p>
			<h5>How come the information on the sidebar sometimes doesn't change when I hover over a new region?</h5>
			<p>This is most likely because you previously clicked on another brain region, meaning the region is already selected and highlighted. To deselect that region, simply click on it again.</p>
		</div>
		
	</div>
	

{% endblock %}