{% extends "layout.html" %}

{% block content %}

	        
     <script>

            var data = {
                "Medulla": 
                {"summary": "The medulla regulates breathing, heart and blood vessel function, digestion, sneezing, and swallowing. <b>It is the center for respiration and circulation.</b>", 
                "q1": "White matter and grey matter (aka myelinated and unmyelinated nerve fibers).", 
                "q2": "In 1806, the French physician Julien Jean-Cesar Legallois noticed that when he removed both the cortex and cerebellum from rabbits, they continued to breathe. This was the first time the medulla was considered an anatomically important region.", 
                "q3": "The medulla is considered to be the most important part of the brain, and its functions are involuntary."},

                "Pons": 
                {"summary": "Primarily, the pons serves as a pathway between the cerebrum and the cerebellum. In addition, it has a role in managing sleep, respiration, swallowing, bladder control, hearing, equilibrium, taste, eye movement, facial expressions, facial sensation, and posture. <b>In summary, it is involved in communicating between different parts of the brain, breathing, and feeling certain sensations.</b>",
                 "q1": "Transverse nerve fibres to relay signals.", 
                 "q2": "The pons was discovered in the 1500s by the anatomist and surgeon Costanzo Varolio while he was analyzing the brain stem.", 
                 "q3": "Pons is Latin for \“bridge\"."},

                
                "Midbrain": 
                {"summary": "The midbrain plays an important role in <b>motor movement</b> (especially eye movement) and <b>auditory and visual processing</b>.",
                 "q1": "The midbrain consists of the cerebral peduncle, the corpora quadrigemina, and the cerebral aqueduct. The cerebral peduncle is made up of nerve fibers, the corpora quadrigemina consists of grey matter and white matter, and the cerebral aqueduct is made of cerebrospinal fluid and is enclosed in grey matter.", 
                 "q2": "Although specific parts of the midbrain were discovered individually, the midbrain as a whole was not discovered at one point in time.", 
                 "q3": "The midbrain is one of the three sections of the brain of a vertebrate embryo."},


                "Mamillary Body": 
                {"summary": "The main function of the mammillary body is <b>recollective memory</b>, involving remembering specific episodes from past experiences.",
                 "q1": "It consists of two groups of grey matter: the medial mammillary nuclei and the lateral mammillary nuclei.", 
                 "q2": "The mammillary bodies’ role in memory was first acknowledged in the late 1800s. At that time, mammillary body atrophy was observed in Korsakov's syndrome---a disorder characterized by amnesia.", 
                 "q3": "Animal studies have shown that deficits in spatial memory occur after damage to the mammillary bodies."},

                "Habenula": 
                {"summary": "The habenula has been found to be involved in a wide a variety of functions, including sleep, reward, pain, and sexuality. More recent and detailed investigations have found that it is involved in <b>regulating aversive motivational states and negative feedback processing</b>.",
                 "q1": "Grey matter", 
                 "q2": "The habenula was first identified in 1824, and was described again in more detail in 1911.", 
                 "q3": "Research is underway as to the habenula’s role in depression."},

                "Temporal Lobe (inferior surface)": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Hypothalamus": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Sub Callosal Gyrus": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Optic Chiasm": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Pituitary Gland": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Septal Nuclei": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Fornix": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Corpus Callosum": 
                {"summary": "The corpus callosum <b>connects the left and right hemispheres of the brain</b>. It allows for communication between the two hemispheres, which is important for many tasks, such as processing sensory information.",
                 "q1": "A bundle of nerve fibers (white matter).", 
                 "q2": " It was discovered in the 1920s by the Russian scientist Konstantin M. Bykov. He severed the corpus callosum in dogs, and used Ivan Pavlov’s classical conditioning methods to discover that the dogs could not complete tasks requiring a connection between the two hemispheres.", 
                 "q3": "People who have their corpus callosum severed often cannot name objects if they are only seen in their left visual field. This is thought to occur due to the inability for the right hemisphere (where data from the left visual field is processed) to communicate with the left hemisphere (where our important language centers are located)."},

                "Prefrontal Cortex": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Septum Pellucidum": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Massa Intermedia": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Motor Association Area": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Premotor Cortex": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Primary Motor Cortex": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Primary Somatosensory Cortex": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Somatosensory Association Area": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Cuneus": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Cingulate Gyrus": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Visual Association Area": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Third Ventricle": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Pineal Gland": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Superior Colliculus": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Inferior Colliculus": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Cerebral Aqueduct": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},


                "Cerebellum": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Arbor Vitae": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Fourth Ventricle": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Visual Cortex": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""},

                "Central Canal": 
                {"summary": "",
                 "q1": "", 
                 "q2": "", 
                 "q3": ""}
            }

            
            $(document).ready(function(){

                 $('#brain').mapster({
                 fillOpacity: 0.4,               
                         stroke: true,
                         strokeColor: "000000",
                         strokeOpacity: 0.8,
                         strokeWidth: 2,
                         singleSelect: true,
                         mapKey: 'title',
                 wrapClass: 'brain-wrapper',
                 fillColor: 'd42e16',
              
                 onClick: function(e){

                    $('#selections').html(e.key)
                    $('#summary').html(data[e.key].summary)
                    $('#qOne').html(data[e.key].q1)
                    $('#qTwo').html(data[e.key].q2)
                    $('#qThree').html(data[e.key].q3)
                 },
                         onMouseover: function (e) {
                  //if there is no area that is clicked
                   if  ($('#brain').mapster('get').length == 0){ 
                                $('#selections').html(e.key)
                      $('#summary').html(data[e.key].summary)
                      $('#qOne').html(data[e.key].q1)
                      $('#qTwo').html(data[e.key].q2)
                      $('#qThree').html(data[e.key].q3)
                   }      
                        }})})
            

       </script>  

    <p id="home-title">Mapping the brain: Learning made simple</p>
    

    <div class="container-fluid">
        <div class="row">
            <div class= "col-1"></div>            
            <div class= "col border p-2">   
                <img id= "brain" src= "{{url_for('static', filename = 'brain-detailed.jpg')}}" usemap="#image-map" alt="brain map" >
            </div>
            <div class= "col border p2">
                 <div id="selections"></div>
                 <div class="accordion" id="questions">
                   <p id="summary">Click anywhere on the brain to get started!</p>

                   <div class="card">
                     <a class="card-header btn btn-link" id="headingOne" data-toggle="collapse" data-target="#qOne" aria-expanded="false" aria-controls="qOne">
                       <p class="mb-0"> 
                           What is it made of? 
                       </p>
                     </a>

                     <div id="qOne" class="collapse" aria-labelledby="headingOne" data-parent="#questions">
                       <div class="card-body">
                       </div>
                     </div>
                   </div>
                   <div class="card">
                     <a class="card-header btn btn-link" data-toggle="collapse" data-target="#qTwo" aria-expanded="false" aria-controls="qTwo" id="headingTwo">
                       <p class="mb-0">   
                           How was it discovered?      
                       </p>
                     </a>
                     <div id="qTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#questions">
                       <div class="card-body">
                       </div>
                     </div>
                   </div>
                   <div class="card">
                     <a class="card-header btn btn-link" data-toggle="collapse" data-target="#qThree" aria-expanded="false" aria-controls="qThree" id="headingThree">
                       <p class="mb-0">            
                           An interesting fact             
                       </p>
                     </a>
                     <div id="qThree" class="collapse" aria-labelledby="headingThree" data-parent="#questions">
                       <div class="card-body">
                       </div>
                     </div>
                   </div>
                 </div>

            </div>
             <div class= "col-1"></div>
        </div>
    </div>






       
	    

{% endblock %}