{% extends "layout.html" %}

{% block content %}

	        
     <script>

            var data = {
                "Medulla": 
                {"summary": "The medulla regulates breathing, heart and blood vessel function, digestion, sneezing, and swallowing. <b>It is the center for respiration and blood circulation.</b>", 
                "q1": "White matter and grey matter", 
                "q2": "In 1806, the French physician Julien Jean-Cesar Legallois noticed that when he removed both the cortex and cerebellum from rabbits, they continued to breathe. This was the first time the medulla was considered an anatomically important region.", 
                "q3": "The medulla is considered to be the most important part of the brain, and its functions are involuntary."},

                "Pons": 
                {"summary": "The pons serves as a pathway between the cerebrum and the cerebellum, and has a role in managing sleep, respiration, swallowing, bladder control, hearing, equilibrium, taste, eye movement, facial expressions, facial sensation, and posture. In summary, it is involved in <b>communicating between different parts of the brain, breathing, and feeling certain sensations.</b>",
                 "q1": "Transverse nerve fibres to relay signals.", 
                 "q2": "The pons was discovered in the 1500s by the anatomist and surgeon Costanzo Varolio while he was analyzing the brain stem.", 
                 "q3": "Pons is Latin for \"bridge\"."},

                
                "Midbrain": 
                {"summary": "The midbrain plays an important role in <b>motor movement</b> (especially eye movement) and <b>auditory and visual processing</b>.",
                 "q1": "The midbrain consists of the cerebral peduncle, the corpora quadrigemina, and the cerebral aqueduct. The cerebral peduncle is made up of nerve fibers, the corpora quadrigemina consists of grey matter and white matter, and the cerebral aqueduct is made of cerebrospinal fluid and is enclosed in grey matter.", 
                 "q2": "Although specific parts of the midbrain were discovered individually, the midbrain as a whole was not discovered at one point in time.", 
                 "q3": "The midbrain is one of the three sections of the brain of a vertebrate embryo."},


                "Mamillary Body": 
                {"summary": "The main function of the mammillary body is <b>recollective memory</b>, involving remembering specific episodes from past experiences.",
                 "q1": "It consists of two groups of grey matter: the medial mammillary nuclei and the lateral mammillary nuclei.", 
                 "q2": "The mammillary bodies’ role in memory was first acknowledged in the late 1800s. At that time, mammillary body atrophy was observed in Korsakov's syndrome---a disorder characterized by amnesia.", 
                 "q3": "Animal studies have shown that deficits in spatial memory occur after damage to the mammillary bodies."},

                "Habenula": 
                {"summary": "The habenula has been found to be involved in a wide a variety of functions, including sleep, reward, pain, and sexuality. More recent and detailed investigations have found that it is involved in <b>regulating aversive motivational states and negative feedback processing</b>.",
                 "q1": "Grey matter", 
                 "q2": "The habenula was first identified in 1824, and was described again in more detail in 1911.", 
                 "q3": "Research is underway as to the habenula’s role in depression."},

                "Temporal Lobe (inferior surface)": 
                {"summary": "The temporal lobe is involved in <b>visual memory, language comprehension, sound processing, and emotion</b>. This region includes important structures such as the hippocampus (memory) and the amygdala (emotion) beneath the surface of the cortex.",
                 "q1": "Grey matter", 
                 "q2": "Temporal lobe epilepsy treatments go back to ancient times. It has been treated with herbs, lifestyle alterations, and even surgery.", 
                 "q3": "The temporal lobe is one of the four lobes of the brain. The other lobes overlap with more specific brain regions, so they are not dedicated regions on the brain map. The other regions are the frontal lobe, the parietal lobe, and the occipital lobe."},

                "Hypothalamus": 
                {"summary": "The hypothalamus’s primary role is to <b>keep the body in homeostasis</b> by regulating body temperature, appetite, thirst, emotions, sleep cycles, and sex drive. It also <b>controls the release of hormones</b> by sending signals to the pituitary gland. ",
                 "q1": "Nerve cells, neuroglial cells, and the hormones it secretes.", 
                 "q2": "In 1930, the scientists Ernst and Berta Scharrer developed the concept of  hypothalamic cells. This was the first time the hypothalamus was thought to  be a separate region from the pituitary gland.", 
                 "q3": "The hypothalamus plays a key role in connecting the endocrine system and the nervous system."},

                "Subcallosal Gyrus": 
                {"summary": "It is involved in <b>processing emotions and behavior regulation</b>. Specifically, it suppresses responses to fearful cues by regulating the amygdala",
                 "q1": "Grey matter", 
                 "q2": "The Hungarian-Austrian anatomist studied the Subcallosal Gyrus, otherwise known as the Zuckerkandl convolution, at the turn of the 19th century. ", 
                 "q3": "A gyrus is a convex fold ob the surface of the brain."},

                "Optic Chiasm": 
                {"summary": "The optic chiasm is part of the pathway that <b>connects the retina to the brain</b>. It helps with our binocular vision and hand-eye coordination. It is crucial to <b>vision</b>.",
                 "q1": "Retinal ganglion cell axons and glial cells", 
                 "q2": "It is speculated that it was first discovered by the Persian physician Esmail Jorjani in the 12th century.", 
                 "q3": "The optic chiasm is an x-shaped structure. "},

                "Pituitary Gland": 
                {"summary": "The pituitary gland <b>secretes hormones</b> into your blood stream that are related to <b>fear, love, and stress</b>. ",
                 "q1": "Glandular epithelium (a type of tissue) and hormones", 
                 "q2": "The earliest reference to the pituitary gland dates back to Ancient Egypt. A portrait of the Pharaoh at the time depicts signs of acromegaly, a disorder in which the pituitary gland produces too much growth hormone.", 
                 "q3": "The pituitary controls the production of the “life hormone” ACTH, which the human body needs a relatively constant supply of to survive."},

                "Septal Nuclei": 
                {"summary": "The septal nuclei appear to play a role in regulating emotion, sexuality, aggression, attention and memory. Most significantly, the septal nuclei are thought to be involved with the <b>experience of pleasure</b>.",
                 "q1": "Grey matter", 
                 "q2": "Over 50 years ago, researchers James Olds and Peter Milner found that stimulating the septal nuclei along with several other areas seemed to result in pleasurable sensations for rats.", 
                 "q3": "The septal nuclei are usually considered part of the limbic system. "},

                "Fornix": 
                {"summary": "The fornix is the <b>primary transmitter of output from the hippocampus</b>, a region that plays a critical role in memory.",
                 "q1": "White matter", 
                 "q2": "17th-century Englishman Thomas Willis was the first neuroanatomist to use the term fornix.", 
                 "q3": "The degradation of the fornix is believed to play a role in Alzheimer’s disease."},

                "Corpus Callosum": 
                {"summary": "The corpus callosum <b>connects the left and right hemispheres of the brain</b>. It allows for communication between the two hemispheres, which is important for many tasks, such as processing sensory information.",
                 "q1": "White matter", 
                 "q2": " It was discovered in the 1920s by the Russian scientist Konstantin M. Bykov. He severed the corpus callosum in dogs, and used Ivan Pavlov’s classical conditioning methods to discover that the dogs could not complete tasks requiring a connection between the two hemispheres.", 
                 "q3": "People who have their corpus callosum severed often cannot name objects if they are only seen in their left visual field."},

                "Prefrontal Cortex": 
                {"summary": "The prefrontal cortex is involved in <b>complex cognitive behavior</b>, <b>personality expression</b>, <b>making decisions</b>, and <b>social behaviour</b>.",
                 "q1": "Grey matter", 
                 "q2": "In the 1800s, a man by the name of Phineas Gage had an iron rod driven through his entire skull in a traumatic accident, damaging his prefrontal cortex. Miracuously, he survived, but it brought on an extreme change in his personality. This led neuroscientists to understand the importance of the prefrontal cortex.", 
                 "q3": "The prefrontal cortex is not fully developed until the age of approximately 25 years old."},

                "Septum Pellucidum": 
                {"summary": "The septum pellucidum <b>separates the left and right ventricles of the brain.</b>",
                 "q1": "It is a thin double membrane that consists of white matter, neurons, fiber bundles, and blood vessels", 
                 "q2": "In the 1900s, research began studying the link between schizophrenia and an abnormal septum pellucidum.", 
                 "q3": "Some people are born without one, leading to complications."},

                "Massa Intermedia": 
                {"summary": "The massa intermedia, also known as the interthalamic adhesion, <b>connects the left and right halves of the thalamus</b>, which is a region that relays sensory signals to the cerebral cortex.",
                 "q1": "Nerve fibers", 
                 "q2": "In 1889, the anatomist Macedo of Portugal examined over 200 brains and found that male humans are about two times more likely to not have a massa intermedia than females.", 
                 "q3": "The massa intermedia is absent in about 20% of human brains."},

                "Motor Association Area": 
                {"summary": "The motor association area, along with the premotor cortex, is pre-programmed for the <b>fine motor control of repetitive tasks</b>, such as writing a signature and pitching a baseball.",
                 "q1": "Grey matter", 
                 "q2": "Hierarchical organization of the cortex by distinguishing some regions as association areas was proposed in the 1870s by the famous British neurologist, John Hughlings Jackson.", 
                 "q3": "Damage to the motor assocaiation area can result in motor apraxia, the inability to execute motor commands like \"wave hello,\" or \"brush your teeth.\""},

                "Premotor Cortex": 
                {"summary": "The premotor cortex, along with the motor association area, is pre-programmed for the <b>fine motor control of repetitive tasks</b>, such as writing a signature and pitching a baseball.",
                 "q1": "Grey matter", 
                 "q2": "The neurologist Alfred Walter Campbell was the first person to divide the motor cortex into the premotor cortex and the primary motor cortex. He made this distinction based on physical differences between the two regions after observation with a microscope.", 
                 "q3": "There are mirror neurons in the premotor cortex, which are neurons that activate when you do a task or watch someone else do the same task."},

                "Primary Motor Cortex": 
                {"summary": "The primary motor cortex generates neural impulses to <b>command the execution of movement</b> throughout the body.",
                 "q1": "Grey matter", 
                 "q2": "In 1870, Eduard Hitzig and Gustav Fritsch stimulated the primary motor cortex in dogs. They found that stimulating each segment of the cortex would paralyze a different part of the dog’s body. This is how it was discovered that the primary motor cortex controls the movement of every part of the body in some capacity.", 
                 "q3": "Damage to the primary motor cortex often results in a lateral paralysis (only occurring on one bodily side) . "},

                "Primary Somatosensory Cortex": 
                {"summary": "The primary somatosensory cortex directly <b>processes raw somatic sensations</b>. These sensations include touch, the position of the body in three-dimensional space, pain, and temperature.",
                 "q1": "Grey matter", 
                 "q2": "The neurosurgeon Wilder Penfield defined the primary somatosensory cortex after conducting studies to stimulate the surface of the brain.", 
                 "q3": "Damage to the primary somatosensory cortex can lead to astereognosis, a condition in which you cannot identify an object through touch alone."},

                "Somatosensory Association Area": 
                {"summary": "The somatosensory association area takes in <b>sensory input</b> from the primary somatosensory cortex to <b>create an understanding</b> of the stimulus/object. ",
                 "q1": "Grey matter", 
                 "q2": "At the end of the 19th century, the term synthesia was first introduced by the US scientist Mary Calkins. This is a condition related to the somatosensory association area in which information from unrelated senses are associated together.", 
                 "q3": "The somatosensory association area integrates information such as the temperature and pressure of objects being touched."},

                "Cuneus": 
                {"summary": "The cuneus plays a role in <b>complex visual processing</b>, and is also thought to modulate signals going to the visual cortex. ",
                 "q1": "Grey matter", 
                 "q2": "The word cuneus means \"wedge\" in Latin.", 
                 "q3": "A lack of grey matter in the cuneas causes more severe symptoms in schizophrenia and bipolar disorders."},

                "Cingulate Gyrus": 
                {"summary": "It <b>processes emotions</b> and works to <b>regulate behavior</b>, providing an interface between the frontal lobe and the limbic system",
                 "q1": "Grey matter", 
                 "q2": "Cingulum means \"belt\" in Latin. The cingulate gyrus was likely given this name because the cortex surrounds the corpus callosum.", 
                 "q3": "Schizophrenic patients’ cingulate gyri are smaller in certain areas."},

                "Visual Association Area": 
                {"summary": "The visual association area is involved in <b>basic visual processing</b>, such as determinng where objects are located in space, object identification, facial recognition, color, and form.",
                 "q1": "Grey matter", 
                 "q2": "Hierarchical organization of the cortex by distinguishing some regions as association areas was proposed in the 1870s by the famous British neurologist, John Hughlings Jackson.", 
                 "q3": "People with damage to the visual association area may suffer from visual agnosia, the inability to identify visually presented objects."},

                "Third Ventricle": 
                {"summary": "The ventricles <b>produce, transport, and remove cerebrospinal fluid</b>. The third ventricle is between the two thalami, and connects to the cerebral aqueduct.",
                 "q1": "It is an empty space filled with cerebrospinal fluid. ", 
                 "q2": "In the past, the ventricles were believed to house the \"animal spirit,\" a substance that allowed the soul to exert control over the body. ", 
                 "q3": "Enlargement of the third ventricle is associated with major depression."},

                "Pineal Gland": 
                {"summary": "It <b>produces and regulates melatonin</b>, a hormone involved in regulating circadian rhythms, which are the body’s natural 24-hour sleep-wake cycles.",
                 "q1": "Pinealocytes and supporting cells ", 
                 "q2": "Descartes believed the pineal gland to be it the seat of the soul and the location where thoughts are formulated.", 
                 "q3": "It is frequently referred to as the \"third eye\" and has long been considered mysterious."},

                "Superior Colliculus": 
                {"summary": "The superior colliculus is a part of the midbrain that primarily <b>orients eye movements</b> to stimuli of interest.",
                 "q1": "White matter", 
                 "q2": "The superior colliculus was formed hundreds of millions of years ago as a key part of the vertebrae midbrain.", 
                 "q3": "Studies have shown that the superior colliculus is impaired in patients with Parkinson’s disease. "},

                "Inferior Colliculus": 
                {"summary": "The inferior colliculus is a part of the midbrain that <b>receives and processes auditory information</b>. Its major roles are sound integration, recognition of frequency, and pitch discrimination.",
                 "q1": "White matter", 
                 "q2": "The word colliculus means \"small elevation or knoll\" and comes from the Latin word for \"hill.\"", 
                 "q3": "In humans, the inferior colliculus is the largest nucleus of the auditory system."},

                "Cerebral Aqueduct": 
                {"summary": "The cerebral aqueduct <b>connects the third and fourth ventricles</b> to make a transmission channel for <b>cerebrospinal fluid</b>.",
                 "q1": "It is an empty space filled with cerebrospinal fluid.", 
                 "q2": "The cerebral aqueduct was named after Franciscus Sylvius, a Dutch anatomist, and so it is also called the aqueduct of Sylvius.", 
                 "q3": "When we are born, the length of our  cerebral aqueduct is approximately 12.8 mm."},


                "Cerebellum": 
                {"summary": "The cerebellum receives sensory input from other parts of the brain and uses it to <b>regulate motor movements</b>. It coordinates movements such as posture, balance, coordination, and speech.",
                 "q1": "Grey matter", 
                 "q2": "The 16th century Flemish anatomist Vesialius discovered the cerebellum in the 16th century.", 
                 "q3": "Abnormalities of the cerebellum have been found in patients with ADHD. "},

                "Arbor Vitae": 
                {"summary": "The arbor vitae <b>carries sensory and motor information to and from the cerebellum</b>.",
                 "q1": "White matter", 
                 "q2": "The words \"arbor vitae\" mean tree of life in Latin.", 
                 "q3": "A technique called diffusion tensor imaging greatly expands our capabilities to study the arbor vitae and white matter in general."},

                "Fourth Ventricle": 
                {"summary": "The ventricles <b>produce, transport, and remove cerebrospinal fluid</b>. The fourth ventricle connects to the cerebral aqueduct and drains the fluid into the central canal.",
                 "q1": "It is an empty space filled with cerebrospinal fluid.", 
                 "q2": "Herophilos of Chalcedon (335-280 BC), a Greek physician, was the first to discover the ventricles through the dissections of human corpses.", 
                 "q3": "The fourth ventricle is important clinically because it is a common site for  intracranial ependymoma tumours."},

                "Visual Cortex": 
                {"summary": "The visual cortex is the part of the brain that <b>receives and processes sensory info directly from the eyes</b>.",
                 "q1": "Grey matter", 
                 "q2": "Soldiers who suffered head wounds in the Russo-Japanese War contributed greatly to the identification of the visual cortex.", 
                 "q3": "Damage to the visual cortex is the only part of the cerebrum that completely abolishes eyesight."},

                "Central Canal": 
                {"summary": "The central canal extends throughout the entire spinal cord. It is a <b>passageway for  cerebrospinal fluid from the brain</b>, allowing for <b>nutrient transport</b> into the spinal cord.",
                 "q1": "It is an empty space filled with cerebrospinal fluid.", 
                 "q2": "The terminal ventricle, the widest part of the central canal, was first described by Stilling in 1859.", 
                 "q3": "Central stenosis is a disease caused by a constricted central canal."}

             
            }

            
            $(document).ready(function(){

                 $('#brain').mapster({
                 fillOpacity: 0.4,               
                         stroke: true,
                         strokeColor: "000000",
                         strokeOpacity: 0.8,
                         strokeWidth: 2,
                         singleSelect: true,
                         scaleMap: true,
                         mapKey: 'title',
                 wrapClass: 'brain-wrapper',
                 fillColor: 'd42e16',
              
                 onClick: function(e){

                    $('#selections').html(e.key)
                    $('#summary').html(data[e.key].summary)
                    $('#qOne').html(data[e.key].q1)
                    $('#qTwo').html(data[e.key].q2)
                    $('#qThree').html(data[e.key].q3)
                 },

                onMouseover: function (e) {
                  //if there is no area that is clicked
                   if  ($('#brain').mapster('get').length == 0){ 
                      $('#selections').html(e.key)
                      $('#summary').html(data[e.key].summary)
                      $('#qOne').html(data[e.key].q1)
                      $('#qTwo').html(data[e.key].q2)
                      $('#qThree').html(data[e.key].q3)
                   }      
                        }})})
            

       </script>  

   
    

    <div id="home-content" class="container-fluid">
            
        <div id="brain-div-container">      
            <div id="title-div">
              <p id="home-title">Mapping the brain: Learning made simple</p>
           </div>     
            <div id="brain-div" >   
                <img id= "brain" class = "img-fluid" src= "{{url_for('static', filename = 'brain-detailed.jpg')}}" usemap="#image-map" alt="brain map" >
            </div>
            <div id= "brain-info-div">
                 <div id="selections"></div>
                 <p id="summary">Welcome, click anywhere on the brain to start exploring! <br><br>
                 After clicking a region, click the buttons below to learn more!</p>
                
                 <div class="accordion" id="questions">
                   <div class="card">
                     <a class="card-header btn btn-link" id="headingOne" data-toggle="collapse" data-target="#qOne" aria-expanded="false" aria-controls="qOne">
                       <p class="mb-0"> 
                           What is it made of? 
                       </p>
                     </a>
                     <div id="qOne" class="collapse" aria-labelledby="headingOne" data-parent="#questions">
                       <div class="card-body">
                       </div>
                     </div>
                   </div>
                   <div class="card">
                     <a class="card-header btn btn-link" data-toggle="collapse" data-target="#qTwo" aria-expanded="false" aria-controls="qTwo" id="headingTwo">
                       <p class="mb-0">   
                           A historical fact     
                       </p>
                     </a>
                     <div id="qTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#questions">
                       <div class="card-body">
                       </div>
                     </div>
                   </div>
                   <div class="card">
                     <a class="card-header btn btn-link" data-toggle="collapse" data-target="#qThree" aria-expanded="false" aria-controls="qThree" id="headingThree">
                       <p class="mb-0">            
                           An interesting fact             
                       </p>
                     </a>
                     <div id="qThree" class="collapse" aria-labelledby="headingThree" data-parent="#questions">
                       <div class="card-body">
                       </div>
                     </div>
                   </div>
                 </div>
                 <p id="note">*Once you have selected a region, click on it again (or another region) to deselect it*</p>
            </div>
        </div>
    </div>






       
	    

{% endblock %}